body {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 100px;
}



.div-center {
    margin: 0 auto;
    width: 726px;
    height: 180px;
}

/* TOP NAVIGATION CSS */

.my-info-box-icon {
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
    /*border-bottom-left-radius: 10px;*/
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 82px;
    background: rgba(0, 0, 0, 0.2);
}

.my-info-box:hover {
  transition-duration: .50s;
  color: black; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 15px;
    text-decoration: none;
}

.my-info-box-number {
    display: block;
    font-size: 14px;
}
.my-info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}


/* TOP NAVIGATION CSS END */

.inline-block {
    display: inline-block;
    line-height: 3px;
    margin-left: 7px;
    font-weight: 600;
}
.main-info-header {
    margin-bottom: 40px;
    text-shadow: 1px 2px 3px gray;
    font-weight: bold;
}

#edit-form {
    display: inline-block;
}

#loadLater {
    color: #b40000;
}
#showLater2 {
}

.must-know-container {
    width: 150px;
    height: 170px;
    border: solid 1px black;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 15px;
}


.info-box-icon-os {
    border-radius: 6px;
    display: inline-block;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 85px;
    line-height: 140px;
    background: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

.info-box-icon-os-edges {
    border-radius: 6px;
    display: inline-block;
    height: 130px;
    width: 130px;
    text-align: center;
    font-size: 60px;
    line-height: 129px;
    background: rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

.info-box-icon-os:hover{
    transition:font-size 0.3s;
    font-size: 95px;
}

.info-box-icon-os-edges:hover{
    transition:font-size 0.3s;
    font-size: 70px;
}

.colom-color {
    background-color: #fff;
}

.box.box-purple {
    border-top-color: rgb(96, 92, 168);
}

.box.box-black {
    border-top-color: #1f1c1c;
}

.box.box-green {
   border-top-color: #00a65a;
}

#sidebar-icon{
    font-size: 22px;
}
#sidebar-icon-news {
    font-size: 14px;
}

.blog-image img {
    width: 130px;
    float: left;
}
.blog-description {
    display: block;
}

.blog-info {
    margin-left: 145px;
}

.blog-title {
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    color: #167ac6;
}

.navbar-custom-menu {
    margin-right: 20px;
}

.greenBtn {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #00a65a;
    border-color: #008d4c;
    color: #fff;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: none;
}
.greenBtn:hover {
    text-decoration: none;
    background-color: #00be65;
    color: #fff;
}

.app-img {
    float: left;
}
.app-img img {
    width: 30px;
    height: 30px;
}
.app-title {
    margin-left: 35px;
    margin-top: -4px;
    color: #167ac6;
}

.app-item {
    border-bottom: 1px dotted #959595;
    box-shadow: none;
    padding: 4px;
}
.app-date {
    display: block;
}

#font-size {
    font-size: 10px;
}

.newb-title {
    color: #167ac6;
    font-weight: 600;
    font-size: 14px;
}

.newb-desc {
    display: block;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}

.active-filter {
    border-bottom: solid 3px #00a65a;
}

/* ================= /SMARTPHONE/ANDROID PAGE ================= */
.tab {
    display: inline-block;
    float: left;
}

.devices-tab {
    text-align: center;
    border-top: 0;
    float: left;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.grey-box {
    background-color: #f2f2f2;
    border: solid 1px #cdcdcd;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.devices-tab .tab.active .tab-header {
    background-color: #f2f2f2;
    border-bottom: none;
    border-bottom-width: initial;
    border-bottom-style: none;
    border-bottom-color: initial;
}

.devices-tab .tab .tab-header {
    border-right: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 20px 16px;
    text-align: left;
    background-color: #fff;
}

.user-header>p {
    z-index: 5;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
}

.user-header>img {
    margin-left: 10px;
}

.devices-tab h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.video-box {
    display: inline-block;
    vertical-align: top;
    width: 196px;
    height: 150px;
    word-wrap: break-word;
    margin-bottom: 20px;
    margin-top: 15px;
}

.video-box-title {
    font-size: 13px;
    margin-bottom: 1px;
    max-width: 196px;
    margin-top: 5px;
    background-color: #fff;
    display: block;
    line-height: 1.3em;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
}

.video-box-title a {
    color: #167ac6;
    font-weight: 600;
}

.video-box-desc {
    font-size: 10px;
}

/* ==================== AUTH CSS ==================== */

.login-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}
.login-box{
    width: 360px;
    margin: 7% auto;
}

.full-body {
    width: 100%;
    height: 100%;
    background: #d2d6de;
    position: absolute;
}

.has-error {
    border-color: #dd4b39;
    box-shadow: none;
}



/* ==================== END ==================== */

/* ==================== NEWS CSS ==================== */
#collapsable{
    display: none;
}

.my-box-body {
    border-radius: 7px;
    padding:15px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 3px #777;
}

.with-shadow {
    -webkit-box-shadow: -1px 4px 13px 6px rgba(161,161,161,0.48);
    -moz-box-shadow: -1px 4px 13px 6px rgba(161,161,161,0.48);
    box-shadow: -1px 4px 13px 6px rgba(161,161,161,0.48);
}

.my-box-title {
    display: inline-block;
    font-size: 24px;
    margin: 0;
    line-height: 1;
    color: rebeccapurple;

}

.btns-container {
    float: right;
}

.news-item {
    border: 1px solid #ddd;
    margin-top: 10px;
    float: left;
    clear: both;
    position: relative;
    background: #fff;
    padding: 0 10px;
    width: 100%;
    min-width: 541px;
    height: 188px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.news-item>a {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
}

.news-image-container {
    width: 298px;
    margin: 0 10px -30px -10px;
    position: relative;
}

.news-image-container img {
    width: 100%;
}

.news-item img {
    margin: 0;
    max-width: 100%;
}

.meta-line {
    font-weight: 700;
    text-transform: uppercase;
    color: #c0c0c0;
    font-size: 12px;
    padding: 0 0 6px;
    text-align: right;
    position: absolute;
    bottom: -4px;
    right: 5px;
    margin-bottom: 0;
    z-index: 3;
    float: right;
    width: auto;
    display: table;
}
.news-title p {
    margin-top: 20px;
    font-size: 12px;
}

.news-title h4 {
    color: rebeccapurple;
}
.news-title h4:hover {
    transition-duration: 0.2s;
    text-shadow: 0 4px 3px rgba(0,0,0,.5);
}

.minimum-width {
    min-width: 980px;
}
/* ==================== END ==================== */

.admin-apps-img img {
    width: 25px;
}