<!-- Footer
   ============================================= -->
<footer id="footer" class="dark">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

            <div class="col_one_third">



            </div>

        </div>

    </div><!-- .footer-widgets-wrap end -->

</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="../../../client/js/jquery.js"></script>
<script type="text/javascript" src="../../../client/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="../../../client/js/functions.js"></script>


</body>
</html>