<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../../../client/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../../client/css/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" href="../../../client/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../../../client/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../../client/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../../../client/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="../../../client/css/stylesheets/w3.css" type="text/css" />
    <link rel="stylesheet" href="../../../client/css/stylesheets/main.css" type="text/css" />
    <link rel="stylesheet" href="../../../client/css/arial-geo.min.css">


    <link rel="stylesheet" href="../../../client/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>GSM Guru</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="transparent-header dark">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="/" class="standard-logo" data-dark-logo="../../client/images/gurulogo.png"><img src="../../client/images/gurulogo.png" alt="GSM Guru"></a>
                    <a href="/" class="retina-logo" data-dark-logo="../../client/images/gurulogo.png"><img src="../../client/images/gurulogo.png" alt="Guru"></a>
                </div><!-- #logo end -->