<div class="toggle toggle-border">
    <div class="togglet">
        <img src="../../uploads/staticResources/playstore-icon.png">
        Play Market
        <img src="../../uploads/staticResources/appstore-icon.png">
        AppStore
    </div>
    <div class="togglec">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
        odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus
        enim libero eaque explicabo suscipit animi
        at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
    </div>
</div>

<div class="toggle toggle-border">
    <div class="togglet">
        <img src="../../uploads/staticResources/Icloud-icon.png">
        iCloud და
        <img src="../../uploads/staticResources/google-icon.png">
        Google სერვისი
    </div>
    <div class="togglec">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
        odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus
        enim libero eaque explicabo suscipit animi
        at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
    </div>
</div>

<div class="toggle toggle-border">
    <div class="togglet">
        <img src="../../uploads/staticResources/contacts-icon.png">
        კონტაქტები
    </div>
    <div class="togglec">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
        odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus
        enim libero eaque explicabo suscipit animi
        at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
    </div>
</div>

<div class="toggle toggle-border">
    <div class="togglet">
        <img src="../../uploads/staticResources/internet-settings-icon.png">
        ინტერნეტის კონფიგურაცია / გამოყენება
    </div>
    <div class="togglec">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
        odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus
        enim libero eaque explicabo suscipit animi
        at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
    </div>
</div>

<div class="toggle toggle-border">
    <div class="togglet">
        <img src="../../uploads/staticResources/ios-call-icon.png">
        დარეკვის პარამეტრები
    </div>
    <div class="togglec">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
        odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus
        enim libero eaque explicabo suscipit animi
        at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
    </div>
</div>

<div class="toggle toggle-border">
    <div class="togglet">
        <img src="../../uploads/staticResources/messenger-icon.png">
        სმს პარამეტრები
    </div>
    <div class="togglec">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
        odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus
        enim libero eaque explicabo suscipit animi
        at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
    </div>
</div>

<div class="toggle toggle-border">
    <div class="togglet">
        <img src="../../uploads/staticResources/menu-icon.png">
        გავერკვიოთ სმარტფონის მენიუში
    </div>
    <div class="togglec">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
        odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus
        enim libero eaque explicabo suscipit animi
        at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
    </div>
</div>

<div class="toggle toggle-border">
    <div class="togglet">
        <img src="../../uploads/staticResources/more-icon.png">
        სხვადასხვა
    </div>
    <div class="togglec">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima
        odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus
        enim libero eaque explicabo suscipit animi
        at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.
    </div>
</div>