<% include ./partials/header_1 %>

<!-- Primary Navigation
============================================= -->
<nav id="primary-menu">

    <ul class="sf-js-enabled" style="touch-action: pan-y;">
        <li><a href="/"><div class="hover-effect">სიახლეები</div></a>
        </li>
        <li><a href="/manuals/smartphone-manuals"><div class="hover-effect active-link">ვიდეო ინსტრუქციები</div></a>
        </li>
        <li><a href="#"><div class="hover-effect">აპები და სერვისები</div></a>
        </li>
    </ul>

    <% include ./partials/header_2 %> <!-- TOP SEARCH BAR -->

</nav><!-- #primary-menu end -->

</div>

</div>


</header><!-- #header end -->


</header><!-- #header end -->



<!-- Content
============================================= -->
<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12" id="my-container">

            <!-- Post Content
            ============================================= -->
            <div id="processTabs">
                <ul class="process-steps bottommargin clearfix">
                    <li>
                        <a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
                        <h5>ინსტრუქციები</h5>
                    </li>
                    <li>
                        <a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
                        <h5>სმარტფონი</h5>
                    </li>
                    <li>
                        <a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
                        <h5>სისტემა</h5>
                    </li>
                    <li>
                        <a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
                        <h5>შედეგი</h5>
                    </li>
                </ul>
                <div>
                    <div id="ptab1">

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, ipsa, fuga, modi, corporis maiores illum fugit ratione cumque dolores sint obcaecati quod temporibus. Expedita, sapiente, veritatis, impedit iusto labore sed itaque sunt fugiat non quis nihil hic quos necessitatibus officiis mollitia nesciunt neque! Minus, mollitia at iusto unde voluptate repudiandae.</p>

                        <div class="table-responsive">



                        </div>

                        <a href="#" class="button button-3d nomargin fright tab-linker" rel="2">Checkout &rArr;</a>

                    </div>
                    <div id="ptab2">

                    </div>
                    <div id="ptab3">

                    </div>
                    <div id="ptab4">

                    </div>
                </div>
            </div>

        </div>

        <!-- Sidebar
        ============================================= -->
        <% var x = 5 %>
        <div class="sidebar-margins">
            <div class="col-md-3 col-sm-12">

                <div class="widget clearfix">
                    <h4>აპები</h4>
                    <div class="post-list-footer">
                        <% for(i = 0; i < x; i++) { %>
                        <div class="spost clearfix">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="../../client/images/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <a href="#"><h4>Viber</h4></a>
                                    <ul class="entry-meta"><li>10.03.2017</li></ul>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>

                <div class="widget clearfix">
                    <h4>ახალი დამატებული</h4>
                    <div class="post-list-footer">
                        <% for(i = 0; i < x; i++) { %>
                        <div class="spost clearfix">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="../../client/images/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <a href="#"><h4>როგორ გადმოვწეროთ აპლიკაციები ანდროიდზე</h4></a>
                                    <ul class="entry-meta"><li>10.03.2017</li></ul>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div><!-- .sidebar end -->

        </div>
    </div>
</div>
</section><!-- #content end -->

<script type="text/javascript">

  $(function() {
    $( "#processTabs" ).tabs({ show: { effect: "fade", duration: 400 } });
    $( ".tab-linker" ).click(function() {
      $( "#processTabs" ).tabs("option", "active", $(this).attr('rel') - 1);
      return false;
    });
  });
</script>


<% include ./partials/footer_1 %>
