.animate-left{
    position:relative;
    -webkit-animation:animateleft 5s;
    animation-delay: 3s;
    animation:animateleft 5s
}
@-webkit-keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    } to {
          left:0;
          opacity:1
          }
}
@keyframes animateleft {
    from{
         left: -500px;
         opacity:0
    } to {
         left:0;
         opacity:1
          }
}

.sexy-body {
    background-color: #0b0b0b;
}

.hover-effect {
    font-size: 16px;
}

.hover-effect:hover {
    transition-duration: .35s;
    color: #1ABC9C;
}

.sidebar-margins {
    margin-top: 126px;
}

.show-blog-header {
    margin: 5px auto;
    max-width: 600px;
}

#my-container {
    margin-top: 126px;
    margin-bottom: 20px;
    background-color: white;
}

.blabla {
    margin: 0 auto;
}

.my-entry-meta {
    margin: 10px -10px -15px 0;
    list-style: none;
}

.active-link {
    border-bottom: solid 2px #1ABC9C;
}

.first-letter {
    font-weight: 800;
    color: #1ABC9C;
}

.widget-footer a {
    border-top: 1px solid #e5e5e5;
    font-weight: 800;
    text-align: center;
    display: block;
    margin-top: 15px;
}

.widget-footer a:hover {
    color: #1ABC9C;
}