.animate-left{
    position:relative;
    -webkit-animation:animateleft 5s;
    animation-delay: 3s;
    animation:animateleft 5s
}
@-webkit-keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    } to {
          left:0;
          opacity:1
          }
}
@keyframes animateleft {
    from{
         left: -500px;
         opacity:0
    } to {
         left:0;
         opacity:1
          }
}

.sexy-body {
    background-color: #0b0b0b;
}

.hover-effect {
    font-size: 16px;
}

.hover-effect:hover {
    transition-duration: .35s;
    color: #1ABC9C;
}

.sidebar-margins {
    margin-top: 126px;
}

.show-blog-header {
    margin: 5px auto;
    max-width: 600px;
}

.show-app-header {
    margin-top: 10px;
    max-width: 600px;
}

.app-image-container {
    float: left;
    margin: 0 10px 25px 0
}

.app-info {
    display: block;
    margin-left: 10px;
}

.table-blockView {
    display: block;
}

#my-container {
    margin-top: 126px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 2px rgba(30, 30, 30, 0.29);
    padding-bottom: 10px;
}

.blabla {
    margin: 0 auto;
    display: inline-block;
}

.my-entry-meta {
    margin: 10px -10px -15px 0;
    list-style: none;
}

.active-link {
    border-bottom: solid 2px #1ABC9C;
}

.first-letter {
    font-weight: 800;
    color: #1ABC9C;
}

.widget-footer a {
    border-top: 1px solid #e5e5e5;
    font-weight: 800;
    text-align: center;
    display: block;
    margin-top: 15px;
}

.widget-footer a:hover {
    color: #1ABC9C;
}

.social-share {
    display: inline-block;
    float: right;
}

.social-share .social-icon{
    font-size: 15px;
}

.blog-share {
    display: inline-block;
    margin-left: -14px;
}

.blog-share .social-icon {
    font-size: 18px;
}

#app-h4-color:hover {
    color: #1ABC9C;
}

.market-icons img {
    width: 25px;
    margin-right: 5px;
}

.market-icons img:hover {
    transition-duration: .35s;
    width: 28px;
}

.fl-hov:hover {
    color: #1a9273;
}

.togglet img {
    width: 25px;
    margin-top: -5px;
}

#tab-8 ul li a i {
    font-size: 18px;
    padding-right: 5px;
}