.animate-left{
    position:relative;
    -webkit-animation:animateleft 5s;
    animation-delay: 3s;
    animation:animateleft 5s
}
@-webkit-keyframes animateleft{
    from{
        left:-300px;
        opacity:0
    } to {
          left:0;
          opacity:1
          }
}
@keyframes animateleft {
    from{
         left: -500px;
         opacity:0
    } to {
         left:0;
         opacity:1
          }
}

.sexy-body {
    background-color: #0b0b0b;
}

.hover-effect {
    font-size: 16px;
}

.hover-effect:hover {
    transition-duration: .35s;
    color: #1ABC9C;
}